## Built-in Data Structures and Boolean

### Boolean variables

In python, boolean variables are considered as `True` and `False` a.k.a truth values.

`bool()` is the function where we can typecast anything data to boolean data type.

In [29]:
a = True
b = False

print(a, b)

type(a), type(b)

True False

(bool, bool)

### In-built functions returning bool object

We can use built-in functions for strings, where we-can do some 
basic operations like isalpha(), isalnum(), islower(), isupper(),
endswith() and startswith(), etc.

In [30]:
string = "HiIamfromKakinada1234"
string_2 = "123"
print("checks if all chars are alphabetic",string.isalpha()) # checks if all chars are alphabetic 
print("checks if all chars are numbers",string.isalnum()) # checks if all chars are numbers
print("checks if string contains digits",string.isdigit()) # checks if string is digit
print("checks if string is lower case",string.islower()) # checks if string is lower case
print("checks if string is upper case",string.isupper()) # checks if string is upper case

print(string.startswith('Hi')) 
print(string.endswith('a'))

checks if all chars are alphabetic False
checks if all chars are numbers True
checks if string contains digits False
checks if string is lower case False
checks if string is upper case False
True
False

### Logical Operators

**AND** - returns True only if both condition satisfied

**OR** - returns True even if atleast one condition satisfied

**NOT** - negation of the current result

In [31]:
# Both are same values 
print(True and True) # returns True
print(False and False) # returns False as both are not satisifed

# Both are different values - returns False since one condition is not satisfied.
print(True and False)
print(False and True)

True
False
False
False

In [32]:
# Both are same values 
print(True or True) # returns True
print(False or False) # returns False as both are not satisifed

# Both are different values - returns True since atleast one condition is satisfied.
print(True or False)
print(False or True)

True
False
True
True

In [33]:
print(not True)

print(not (True and False))

False
True

## Lists

List is a data structure which is mutable, changeable ordered sequence of elements. All the items (elements in the list) are seperated by commas.

### append() method

In [34]:
# initializing a list - two ways
li_one = list()
li_two = []

# storing elements we can add it using append() method
li_one.append("Hi Hello Ram")

li_two.append(231)

li_two.append([342, 'Sai Kiran'])

print(li_two)

[231, [342, 'Sai Kiran']]

### Accessing array elements

In [35]:
# Indexing in list
print(li_one[0])

print(li_two[1])

Hi Hello Ram
[342, 'Sai Kiran']

### insert() method

In [36]:
# Clearing two lists before inserting the elements
li_one.clear()
li_two.clear()

li_one.insert(3, "Sai Kiran is boy")

li_two.insert(1, 3456)


print(li_one, li_two, sep="\n")

['Sai Kiran is boy']
[3456]

### extend() method

In [37]:
li = [12, 45, 63, 74, 32]

li.extend([32, 345, 10000])

print(li)

[12, 45, 63, 74, 32, 32, 345, 10000]

### Slicing operations

Used to fetch elements based on the start and end indexes. 
If we want to access elements at the last, we can accesss it simply specifying by -1, -2, etc.

Syntax for slicing operation = `list_var[start_index : end_index + 1 : increment/decrement]`

In [55]:
li = list(range(1, 100+1)) # storing 1 ... 100 numbers in list. 

# printing numbers only from 1 to 10
print(li[0:10])  

# print 20 numbers from the end of the list
print(li[-1:-21:-1])

# reverse the elements in the list
print(li[-1:0:-1])

# print alternate numbers
print(li[0:10:2])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[100, 99, 98, 97, 96, 95, 94, 93, 92, 91, 90, 89, 88, 87, 86, 85, 84, 83, 82, 81]
[100, 99, 98, 97, 96, 95, 94, 93, 92, 91, 90, 89, 88, 87, 86, 85, 84, 83, 82, 81, 80, 79, 78, 77, 76, 75, 74, 73, 72, 71, 70, 69, 68, 67, 66, 65, 64, 63, 62, 61, 60, 59, 58, 57, 56, 55, 54, 53, 52, 51, 50, 49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2]
[1, 3, 5, 7, 9]

### Miscellaneous operations

In [38]:
# Sum of array
sum_li = sum(li)

print(sum_li, li.count(74)) # counting occurence of element

# Before popping out element
print(li)

# To remove the last element in the list
li.pop()
print(li)

# If we want to delete element based on specific index, pass it on
# to pop(index) method
li.pop(2) # 63 element at index 2 will be deleted.

print(li)

10603 1
[12, 45, 63, 74, 32, 32, 345, 10000]
[12, 45, 63, 74, 32, 32, 345]
[12, 45, 74, 32, 32, 345]

## Sets

Sets are un-ordered collection data type where it only stores the unique elements. It is also mutable and iterable.

It is developed based on data structure known as hash table, and it resemebles the mathematical representation of set.

In [58]:
# Initializing set
my_set = set()

# Adding data in set
my_set = {1, 3, 4, 5, 3, 21, 5, 3} # Set auto-trims duplicate elements inside. 

print(my_set)

{1, 3, 4, 5, 21}

### Performing basic set operations

In [65]:
a = {1, 2, 3, 4, 5, 6, 7}
b = {8, 9, 10, 1, 2, 3, 4}

# a - b
print(b.difference(a))

print(b.difference_update(a)) # updates the b set 

# a intersection b
print(a.intersection(b))

print(a.intersection_update(b))

{8, 9, 10}
None
set()
None

## Dictionaries

Dictionary is a data structure where it is un-ordered, stores data in form of key-value pairs.

It is mutable, changeable and can be easily indexed.

In [67]:
# initializing dictionary
my_dict = {}

type(my_dict)

# Storing elements inside dictionary
my_dict = {'Name' : 'Sai', 'Age' : 22, 'Place' : 'Kakinada', 'Pin' : 533003}

# accessing data from dictionary
print(my_dict['Name'])

Sai

### Iterating over the dictionary

In [70]:
for key, values in my_dict.items():

    print(key, ":",values)

Name : Sai
Age : 22
Place : Kakinada
Pin : 533003

### Modifying data in dictionary

In [71]:
my_dict['Name'] = 'Sai Kiran Kopparthi'

# adding a new pair 
my_dict['Company'] = 'Accenture, Bangalore'

print(my_dict)

{'Name': 'Sai Kiran Kopparthi', 'Age': 22, 'Place': 'Kakinada', 'Pin': 533003, 'Company': 'Accenture, Bangalore'}

### Nested dictionary

In [73]:
# Creating a sub-dictionary
sub_dict_1 = {'Salary': 60000, 'YoE': '2+ years'}

# Adding nested dictionary inside
my_dict['payroll details'] = sub_dict_1

# printing the main dictionary
print(my_dict)

# Accessing data from nested dictionary
print(my_dict['payroll details']['Salary'])

{'Name': 'Sai Kiran Kopparthi', 'Age': 22, 'Place': 'Kakinada', 'Pin': 533003, 'Company': 'Accenture, Bangalore', 'payroll details': {'Salary': 60000, 'YoE': '2+ years'}}
60000

## Tuples

Tuples are immutable data structures. Mostly tuples are used to store data which cannot be changed once initialized.

In [79]:
# initializing tuple
my_tuple = tuple()

type(my_tuple)

# Adding data inside tuple
my_tuple = (100, "Sai Kiran", 456, 100, 432.56, 100, 100)

print(my_tuple)

(100, 'Sai Kiran', 456, 100, 432.56, 100, 100)

### Attempting to modify data in tuple

In [80]:
my_tuple[0] = "Sai" # throws an error as its not supported

TypeError: 'tuple' object does not support item assignment

### Using count() and index() methods

In [81]:
# Counting occurence using count() method
print(my_tuple.count(100))

# Finding the index of the item by passing the value
print(my_tuple.index('Sai Kiran'))

4
1