# Reading JSON, HTML, Pickle and Excel files using Pandas library

We will be using the pandas library for reading JSON, HTML, Pickle and excel files.

In [2]:
import pandas as pd
import numpy as np

## Reading JSON

In [3]:
data = '{"employee_name" : "Sai Kiran", "email" : "knvrssaikiran@gmail.com", "job_profile" : [{"title1" : "Teamlead", "title2" : "Senior developer"}]}'

df = pd.read_json(data)

df

/var/folders/46/93r9g3kj69s0c5zhwfq5y_s40000gn/T/ipykernel_1319/1450547549.py:3: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_json(data)

,employee_name,email,job_profile
0,Sai Kiran,knvrssaikiran@gmail.com,"{'title1': 'Teamlead', 'title2': 'Senior devel..."

In [4]:
# converting json to different formats

df.to_json()

'{"employee_name":{"0":"Sai Kiran"},"email":{"0":"knvrssaikiran@gmail.com"},"job_profile":{"0":{"title1":"Teamlead","title2":"Senior developer"}}}'

In [5]:
# converts json in form of records or else the data will be considered in the form of key-value pairs

df.to_json(orient="records")

'[{"employee_name":"Sai Kiran","email":"knvrssaikiran@gmail.com","job_profile":{"title1":"Teamlead","title2":"Senior developer"}}]'

## Reading HTML

In [6]:
pip install lxml # library required to read html page from internet

Requirement already satisfied: lxml in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (5.3.0)

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: pip3 install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [7]:
url = 'http://en.wikipedia.org/wiki/Mobile_country_code'

pd.read_html(url)

[   MCC  MNC Brand      Operator       Status Bands (MHz)  \
 0    1    1  TEST  Test network  Operational         any
 1    1    1  TEST  Test network  Operational         any
 2  999   99   NaN  Internal use  Operational         any
 3  999  999   NaN  Internal use  Operational         any

                               References and notes
 0                                              NaN
 1                                              NaN
 2  Internal use in private networks, no roaming[6]
 3  Internal use in private networks, no roaming[6]  ,
      Mobile country code                                    Country ISO 3166  \
 0                    289                                 A Abkhazia    GE-AB
 1                    412                                Afghanistan       AF
 2                    276                                    Albania       AL
 3                    603                                    Algeria       DZ
 4                    544  American Samoa (United States of America)       AS
 ..                   ...                                        ...      ...
 247                  452                                    Vietnam       VN
 248                  543                        W Wallis and Futuna       WF
 249                  421                                    Y Yemen       YE
 250                  645                                   Z Zambia       ZM
 251                  648                                   Zimbabwe       ZW

                                   Mobile network codes National MNC authority  \
 0             List of mobile network codes in Abkhazia                    NaN
 1          List of mobile network codes in Afghanistan                    NaN
 2              List of mobile network codes in Albania                    NaN
 3              List of mobile network codes in Algeria                    NaN
 4       List of mobile network codes in American Samoa                    NaN
 ..                                                 ...                    ...
 247        List of mobile network codes in the Vietnam                    NaN
 248  List of mobile network codes in Wallis and Futuna                    NaN
 249          List of mobile network codes in the Yemen                    NaN
 250             List of mobile network codes in Zambia                    NaN
 251           List of mobile network codes in Zimbabwe                    NaN

                       Remarks
 0    MCC is not listed by ITU
 1                         NaN
 2                         NaN
 3                         NaN
 4                         NaN
 ..                        ...
 247                       NaN
 248                       NaN
 249                       NaN
 250                       NaN
 251                       NaN

 [252 rows x 6 columns],
      MCC  MNC     Brand                  Operator           Status  \
 0    901    1       NaN                   Webbing          Unknown
 1    901    2       NaN            GlobalmatiX AG          Unknown
 2    901    3   Iridium                       NaN      Operational
 3    901    4       NaN  BBIX Singapore Pte. Ltd.          Unknown
 4    901    5       NaN      Thuraya RMSS Network      Operational
 ..   ...  ...       ...                       ...              ...
 99   902    1       NaN        MulteFire Alliance      Operational
 100  991    1       NaN    World's Global Telecom  Not operational
 101  991    2  5G Croco               Orange S.A.  Not operational
 102  991    3       NaN                 Halys SAS  Not operational
 103  991    4       NaN              E-Space Inc.          Unknown

     Bands (MHz)                               References and notes
 0          MVNO            Former ICO Satellite Management[51][52]
 1       Unknown  Former Sense Communications International; veh...
 2     Satellite                                                NaN
 3       Unknown                              Former Globalstar[54]
 4     Satellite                                                NaN
 ..          ...                                                ...
 99          LTE                                           [6][123]
 100     Unknown  temporarily assigned until 15 January 2021[102...
 101          5G  temporarily assigned until 6 August 2022[125][...
 102     Unknown  temporary assignment for trial until 5 April 2...
 103   Satellite  temporary assignment for trial until 17 Oct 20...

 [104 rows x 7 columns],
    MCC  MNC     Brand                 Operator       Status Bands (MHz)  \
 0  995    1  FonePlus  Sure (Diego Garcia) Ltd  Operational     GSM 900

                                 References and notes
 0  There appears to be no officially assigned MCC...  ,
                                vteTelecommunications  \
 0                                            History
 1                                           Pioneers
 2                                 Transmission media
 3                     Network topology and switching
 4                                       Multiplexing
 5                                           Concepts
 6                                   Types of network
 7                                   Notable networks
 8                                          Locations
 9  Telecommunication portal  Category  Outline  C...

                              vteTelecommunications.1
 0  Beacon Broadcasting Cable protection system Ca...
 1  Nasir Ahmed Edwin Howard Armstrong Mohamed M. ...
 2  Coaxial cable Fiber-optic communication optica...
 3  Bandwidth Links Nodes terminal Network switchi...
 4  Space-division Frequency-division Time-divisio...
 5  Communication protocol Computer network Data t...
 6  Cellular network Ethernet ISDN LAN Mobile NGN ...
 7  ARPANET BITNET CYCLADES FidoNet Internet Inter...
 8  Africa Americas North South Antarctica Asia Eu...
 9  Telecommunication portal  Category  Outline  C...  ]

## Reading Excel file

Similar to CSV file, we can simply read the data from Excel using the pandas in-built `pd.read_excel(filename)` function.

In [22]:
# importing excel file

df = pd.read_excel("persons.xlsx")

df

      Name           City  Column 3  Column 4  Column 5  Column 6
0      Sai       Kakinada       NaN       NaN       NaN       NaN
1    Kiran  Visakhapatnam       NaN       NaN       NaN       NaN
2  Gowtham     Vijayawada       NaN       NaN       NaN       NaN

## Pickling

This concept will be mostly helpful for Machine Learning algorithms. Pickling helps us to store any data structure in form of pickle, and for which later on we can easily import it. Be it an algorithm, excel, CSV file, etc.

Once Kernel is re-started the whole data or memory gets erased, to avoid this if we use pickle we can easily import the data from the file.

In [23]:
df.to_pickle("excel_pickle") # converting the above data structure into pickle.

In [24]:
# reading back the data that we saved in form of pickle.

pd.read_pickle("excel_pickle")

      Name           City  Column 3  Column 4  Column 5  Column 6
0      Sai       Kakinada       NaN       NaN       NaN       NaN
1    Kiran  Visakhapatnam       NaN       NaN       NaN       NaN
2  Gowtham     Vijayawada       NaN       NaN       NaN       NaN